<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистратура</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

    <script th:src="@{/registration.js}"></script>
    <link th:href="@{/main.css}" rel="stylesheet" />

</head>
<body ng-app="RegistrationManagement" ng-controller="RegistrationController">
<h2>
    Регистратура
</h2>

<td>
    <a type="button"value="Доктора" class="doc-button" href="http://localhost:8080/doctor" target="_blank">Список врачей</a>

</td>
<td >
    <a type="submit"value="Пациенты" class="pat-button" href="http://localhost:8080/patient" target="_blank">Список пациентов</a>
</td>
<td >
    <a type="submit"value="Диагнозы" class="dis-button" href="http://localhost:8080/disease" target="_blank">Список болезней</a>
</td>
<td >
    <a type="submit"value="Посещения" class="vis-button" href="http://localhost:8080/visit" target="_blank">Список посещений</a>
</td>
<td >
    <a type="submit"value="Запись к врачу" class="registry-button" href="http://localhost:8080/registration" target="_blank">Запись к врачу</a>
</td>
<body>

</body>
